/* Global Styling*/
body {
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  opacity: 0.5;

}

/* Wrappers */

#top-wrapper {
  background-image: url('../images/background5.jpg');
  background-position: center;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
  height: 560px;
  width: 100%;
  padding: 12em 6em 6em 6em;
  margin: 0 1em 0 1em;
}

#main-wrapper {
  height: auto;
  width: auto;
  background-color: #EEF8FF;
  margin: 0 1em 0 1em;
}

#banner-wrapper {
  background-image: url('../images/background4.jpg');
  background-position:top;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
  height: auto;
  width: auto;
  margin: 1em;
  padding: 3em;
}

/* Navbar */

.navbar {
    margin: 0 1em 0 1em;
}

/* Main */
.music {
  padding: 20px;
  margin: 0 0 0 4em;
}

.card {
  height: 200px;
  background-color: #292E31;
  margin: 1em;
  width: auto;

}

.card a > img {
  height:190px;
  width:210px;
  padding: 20px 15px 15px 6px;
}

/* Footer */
footer {
  text-align: center;
  color: #000;
  height: auto;
  width: auto;
  margin: 3em 3em 0 3em;
}

.footer-wrapper a {
  font-size: 10px;
  padding: 25px;
  text-decoration: none;
  color: #000;
}
