/* Global Styling*/
body {
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;

}

/* Wrappers */

#top-wrapper {
  background-image: url('../images/background5.jpg');
  background-position: center;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
  height: 560px;
  width: auto;
  padding: 12em 0 6em 0;
  margin: 0 1em 0 1em;
  text-align: center;
}

#main-wrapper {
  height: auto;
  width: auto;
  background-color: #EEF8FF;
  margin-left: 1em;
  margin-right: 1em;
}

#banner-wrapper {
  background-image: url('../images/background4.jpg');
  background-position: top;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
  height: auto;
  width: auto;
  margin-top: 1em;
  padding: 3em;
}

/* Navbar */

.navbar {
    margin: 0 1em 0 1em;
}

/* Main */

.row {
  padding: 20px;
  margin: 30px;
}

.image {
  margin-top: 30px;
}

.image:hover {
  opacity: 0.5;
}

 img {
  width: 100%;
  height: auto;
  float: left;
  max-width: 235px;
}

/* Button */

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    position: relative;
    left: 750px;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

/* Footer */
footer {
  text-align: center;
  color: #000;
  height: auto;
  width: auto;
  margin: 3em 3em 0 3em;
}

.footer-wrapper a {
  font-size: 10px;
  padding: 25px;
  text-decoration: none;
  color: #000;
}
